@charset "UTF-8";

/* стили для корневого элемента слайдера */

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding: 10px 20px;
  color: #666;
  background-color: white;
}

.header__top h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.header__top img {
  width: 25px;
  margin: 0 10px 0 0;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #de9447;
  padding: 5px 20px;
  position: relative;
}

.header__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__bottom li {
  font-size: 20px;
  margin: 10px 20px;
  position: relative;
}

.header__bottom a {
  color: white;
}

.header__bottom li > a.active {
  border-radius: 5px;
  background: white;
  padding: 10px 20px;
  color: #de9447;
  -webkit-transition: all ease 0.3s 0s;
  -o-transition: all ease 0.3s 0s;
  transition: all ease 0.3s 0s;
}

.header__bottom .logo img {
  height: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}

.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 4px;
  top: 9px;
  border-radius: 15px;
}

.header__burger span:first-child {
  top: 0px;
}

.header__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.header__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 2px);
}

.header__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 2px);
}

.header-active {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 50;
}

.actions {
  position: relative;
}

.actions__basket-quantity {
  background-color: white;
  border-radius: 50%;
  padding: 1px 6px;
  position: absolute;
  left: -7px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions__basket-quantity._active {
  opacity: 1;
}

.basket__list {
  position: absolute;
  top: 55px;
  right: -2000px;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
  width: 450px;
  max-height: 80vh;
  padding: 1.5rem 1.5rem 1rem;
  color: #666;
  z-index: 5;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__list._active {
  right: 0;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.basket__list hr {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 10px 0;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__item-img {
  width: 100px;
  height: 100px;
}

.basket__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.basket__cost {
  -ms-flex-item-align: center;
      align-self: center;
}

.basket__title {
  font-size: 30px;
  margin: 0 0 10px;
  color: #de9447;
}

.basket__quantity {
  font-size: 20px;
  padding: 0 20px 0 0;
}

.basket__price-img {
  padding: 0 0 0 20px;
}

.basket__price {
  font-size: 22px;
}

.basket__btn {
  padding: 10px 20px 8px;
  background-color: #de9447;
  border-radius: 5px;
  color: #fff;
  margin: auto;
}

@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }

  .header__navbar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: calc(42px + 13 * ((100vw - 320px) / 1600));
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .header__navbar ._active {
    display: block;
  }

  .header__bottom li {
    font-size: 25px;
    margin: 20px 20px;
  }

  .header__top {
    padding: 5px 20px;
  }

  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header a {
    color: #de9447;
  }

  .header__burger._active ~ .header__navbar {
    display: block;
    overflow: auto;
  }
}

@media (max-width: 767.98px) {
  .basket__list {
    padding: 1rem;
    width: 265px;
  }

  .basket__item-img {
    width: 75px;
    height: 75px;
  }

  .basket__title {
    font-size: 16px;
  }

  .basket__quantity {
    font-size: 16px;
    padding: 0 15px 0 0;
  }

  .basket__price-img {
    padding: 0 0 0 15px;
    height: 16px;
  }

  .basket__price {
    font-size: 16px;
  }

  .basket__delete-btn img {
    width: 16px;
  }
}