.order {
  display: none;
  max-width: 760px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.order._active {
  display: block;
}

.order h1 {
  font-size: 30px;
  font-weight: 700;
  color: #de9447;
  text-align: center;
  margin: 30px;
}

.order__btn {
  padding: 10px 20px 8px;
  background-color: #de9447;
  border-radius: 5px;
  color: #fff;
  margin: auto;
}

.order input {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid;
}

.order input:focus,
.order select:focus,
.order textarea:focus,
.order button:focus {
  outline: none;
}

.order__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}