@charset "UTF-8";

@use "sass:math";
@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
  -o-transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
  transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

:target:before {
  content: "";
  display: block;
  height: 50px;
  margin: -20px 0 0;
}

html,
body {
  height: 100%;
  min-width: 304px;
}

body {
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito Sans", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #666;
  text-transform: capitalize;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

/* стили для корневого элемента слайдера */

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding: 10px 20px;
  color: #de9447;
  background-color: white;
}

.header__top h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.header__top img {
  width: 25px;
  margin: 0 10px 0 0;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #de9447;
  padding: 5px 20px;
  position: relative;
}

.header__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__bottom li {
  font-size: 20px;
  margin: 10px 20px;
  position: relative;
}

.header__bottom a {
  color: white;
}

.header__bottom li > a.active {
  border-radius: 5px;
  background: white;
  padding: 10px 20px;
  color: #de9447;
  -webkit-transition: all ease 0.3s 0s;
  -o-transition: all ease 0.3s 0s;
  transition: all ease 0.3s 0s;
}

.header__bottom .logo img {
  height: calc(30px + 20 * ((100vw - 320px) / 1600));
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}

.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 4px;
  top: 9px;
  border-radius: 15px;
}

.header__burger span:first-child {
  top: 0px;
}

.header__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.header__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 2px);
}

.header__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 2px);
}

.header-active {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 50;
}

.actions {
  position: relative;
}

.actions__basket-quantity {
  background-color: white;
  border-radius: 50%;
  padding: 1px 6px;
  position: absolute;
  left: -7px;
  bottom: 0;
}

.actions__basket-quantity._active {
  display: block;
}

.basket__list {
  position: absolute;
  z-index: 5;
  width: 400px;
  height: 500px;
  background-color: #f7f77d;
  right: 0;
  border: 1px solid #de9447;
  padding: 15px;
  overflow: auto;
  display: none;
}

.basket__list._active {
  display: block;
}

.basket__list hr {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 10px 0;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__item-img {
  width: 100px;
  height: 100px;
}

.basket__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.basket__total {
  -ms-flex-item-align: center;
      align-self: center;
}

.basket__title {
  font-size: 30px;
  margin: 0 0 10px;
}

.basket__quantity {
  font-size: 20px;
}

.basket__price {
  font-size: 22px;
}

.footer {
  background: #cdcdcd;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__title {
  font-size: 25px;
  color: #de9447;
  padding: 10px 0;
}

.footer__item {
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.footer__item p {
  font-size: 15px;
  padding: 10px 0;
}

.footer__item a {
  height: 50px;
  width: 50px;
  text-align: center;
  color: #aaa;
  margin-right: 10px;
}

.footer__img-contacts {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}

/* стили для корневого элемента слайдера */

.slider {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  background-repeat: no-repeat;
}

.slider__text {
  font-size: 50px;
  color: white;
}

.slider__fixed {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 115px;
  background-image: none;
  background: rgba(34, 31, 26, 0.7);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.webp .slider {
  background-image: none;
}

/* стили для wrapper */

.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

/* класс для отключения transition */

.transition-none {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

/* стили для элементов */

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  position: relative;
}

/* кнопки Prev и Next */

.slider__control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__control_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Индикаторы */

.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__indicator {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #ffd3a3;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}

.slider__indicator_active {
  background-color: #de9447;
}

.fullscreen {
  min-height: 85vh;
  max-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.item__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__describe span {
  padding: 10px 0;
}

.item__describe span:last-child {
  padding: 10px 0 20px;
}

.item__slogan {
  font-size: calc(20px + 5 * ((100vw - 320px) / 1600));
  color: #666;
}

.item__title {
  font-size: calc(40px + 30 * ((100vw - 320px) / 1600));
  color: #de9447;
}

.item__consists {
  font-size: calc(17px + 5 * ((100vw - 320px) / 1600));
  color: #666;
}

.item__btn {
  margin: 10px 0 0;
  font-size: 22px;
  padding: 10px 20px;
  background-color: #de9447;
  border-radius: 5px;
  color: white;
}

.item__img {
  text-align: center;
}

.item img {
  max-width: 38vmax;
  padding: 20px 0;
}

.pizza {
  margin: 25px auto;
  padding: 30px 20px;
  background: #f8f8f8;
}

.pizza__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pizza h1 {
  font-size: 30px;
  font-weight: 700;
  color: #de9447;
  text-align: center;
  margin: 30px;
}

.pizza__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #de9447;
  margin: 30px auto 20px;
  border-radius: 5px;
  width: 250px;
}

.pizza__btn {
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}

.pizza__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 20px;
  list-style: none;
}

.pizza__controls .buttons {
  margin: 10px 20px;
  padding: 5px 0;
  border-bottom: 1px solid #ffd3a3;
  color: #ffd3a3;
  cursor: pointer;
  font-size: 1.5rem;
}

.pizza__controls .button-active,
.pizza__controls .buttons:hover {
  color: #de9447;
  border-color: #de9447;
}

.card {
  margin: 15px 0;
  padding: 15px 25px;
  background: #fff;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  max-width: 265px;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .show-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.card .hide-active {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.card h3 {
  padding: 10px 0;
  text-align: start;
}

.card h4 {
  text-align: start;
  color: #666;
}

.card h3,
.card .card__price {
  color: #de9447;
  font-size: 25px;
  font-weight: 700;
}

.card__img {
  height: 200px;
}

.card__btn {
  padding: 10px 20px 8px;
  background-color: #de9447;
  border-radius: 5px;
  color: white;
  margin-left: auto;
}

.card__footer {
  margin: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stocks {
  margin: 50px auto;
}

.stocks__container {
  padding: 0 50px;
}

.stocks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin: 30px 0;
}

.stocks__img-container {
  width: 350px;
  margin: 20px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.stocks__img-container img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stocks__title {
  font-size: 30px;
  font-weight: 700;
  color: #de9447;
  margin: 30px 0;
}

.stocks__text {
  color: #666;
}

.stocks h1 {
  font-size: 30px;
  font-weight: 700;
  color: #de9447;
  text-align: center;
  margin: 30px;
}

.stocks hr {
  height: 1px;
  width: 100%;
  background: #666;
}

.coffee-beans {
  margin: 50px auto;
  padding: 30px 20px;
  background: #f8f8f8;
}

.coffee-beans__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.coffee-beans h1 {
  font-size: 30px;
  font-weight: 700;
  color: #de9447;
  text-align: center;
  margin: 30px;
}

.coffee-beans__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #de9447;
  margin: 30px auto 20px;
  border-radius: 5px;
  width: 250px;
}

.coffee-beans__btn {
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
}

.coffee-beans__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 20px;
  list-style: none;
}

.coffee-beans__controls .buttons {
  margin: 10px 20px;
  padding: 5px 0;
  border-bottom: 1px solid #ffd3a3;
  color: #ffd3a3;
  cursor: pointer;
  font-size: 1.5rem;
}

.coffee-beans__controls .button-active,
.coffee-beans__controls .buttons:hover {
  color: #de9447;
  border-color: #de9447;
}

.coffee-beans .card {
  margin: 15px 0;
  padding: 15px 25px;
  background: #fff;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  max-width: 265px;
  height: 400px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coffee-beans .card:hover {
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
}

.coffee-beans .card h3 {
  padding: 10px 0;
  text-align: start;
}

.coffee-beans .card h4 {
  text-align: start;
  color: #666;
}

.coffee-beans .card h3,
.coffee-beans .card .card__price {
  color: #de9447;
  font-size: 25px;
  font-weight: 700;
}

.coffee-beans .card__img {
  height: 200px;
}

.coffee-beans .card__btn {
  padding: 10px 20px 8px;
  background-color: #de9447;
  border-radius: 5px;
  color: white;
  margin-left: auto;
}

.coffee-beans .card__footer {
  margin: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coffee-beans ._none {
  display: none;
}

.contacts {
  background: #f8f8f8;
  padding: 30px 20px;
  position: relative;
}

.contacts h1 {
  font-size: 30px;
  font-weight: 700;
  color: #de9447;
  text-align: center;
  margin: 30px;
}

.contacts__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 300px;
  text-align: center;
  height: 300px;
  position: absolute;
  bottom: 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

._none {
  display: none;
}

.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 4px 10px;
  cursor: pointer;
  opacity: 0.8;
}

.scroll-up:hover {
  opacity: 1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

._hide {
  opacity: 0;
}

._stop-scrolling {
  height: 100%;
  overflow: hidden;
}

._flyImage._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1170px) {
  .fullscreen {
    padding: 20px 20px 40px;
  }
}

@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }

  .header__navbar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: calc(42px + 13 * ((100vw - 320px) / 1600));
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .header__navbar ._active {
    display: block;
  }

  .header__bottom li {
    font-size: 25px;
    margin: 20px 20px;
  }

  .header__top {
    padding: 5px 20px;
  }

  .header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header a {
    color: #de9447;
  }

  .header__burger._active ~ .header__navbar {
    display: block;
    overflow: auto;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .scroll-up {
    right: 15px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .stocks__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .scroll-up {
    right: 7px;
  }
}

@media (max-width: 479.98px) {
  .fullscreen {
    display: block;
  }

  .card {
    max-width: 350px;
  }

  .coffee-beans .card {
    max-width: 350px;
  }

  .contacts__inform {
    width: 150px;
    height: 150px;
  }

  .contacts__inform img {
    width: 100px;
  }

  .contacts__inform p {
    font-size: 15px;
  }
}

@media (any-hover: hover) {
  .card:hover {
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
  }
}

@media (any-hover: none) {
  .card {
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
  }
}