@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include font("Gilroy-Bold", "Gilroy-Bold", "400", "normal");
@include font("Gilroy-Medium", "Gilroy-Medium", "400", "normal");
@include font("Gilroy-SemiBold", "Gilroy-SemiBold", "400", "normal");
@include font("Gilroy-Regular", "Gilroy-Regular", "400", "normal");