$minWidth: 304px;
$maxWidth: 1920;
$maxWidthContainer: 1170;

/* стили для корневого элемента слайдера */
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;

		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//Адаптивное свойство до
@mixin adaptiv-value-to($property, $startSize, $minSize, $minWidth) {
	$addSize: $startSize - $minSize;

	//#{$property}: $minSize + px;
	@media (min-width: #{$minWidth + px}) {
		#{$property}: calc(
			#{$minSize + px} + #{$addSize} * (((100vw - #{$minWidth + px})) / ((#{$maxWidth - $minWidth})))
		);
	}
}

.header {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiv-value("font-size", 20, 10, 0);
		padding: 10px 20px;
		color: #666;
		background-color: white;

		a {
			color: #666;
		}

		p {
			display: flex;
			align-items: center;
			margin: 0 5px;
		}

		img {
			width: 25px;
			margin: 0 10px 0 0;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #de9447;
		padding: 5px 20px;
		position: relative;

		ul {
			display: flex;
			align-items: center;
			text-align: center;
		}

		li {
			font-size: 20px;
			margin: 10px 20px;
			position: relative;
		}

		a {
			color: white;
		}

		li > a.active {
			border-radius: 30px;
			background: white;
			padding: 10px 20px;
			color: #de9447;
			transition: all ease 0.3s 0s;
		}

		@media (any-hover: hover) {
			li a:hover {
				border-radius: 30px;
				background: white;
				padding: 10px 20px;
				color: #de9447;
				transition: all ease 0.3s 0s;
			}
		}

		.logo img {
			@include adaptiv-value("height", 50, 30, 0);
		}
	}

	&__burger {
		display: none;
		position: relative;
		width: 30px;
		height: 22px;

		span {
			transition: all 0.3s ease 0s;
			position: absolute;
			background-color: white;
			left: 0;
			width: 100%;
			height: 4px;
			top: 9px;
			border-radius: 15px;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&._active {
			span {
				transform: scale(0);

				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 2px);
				}

				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 2px);
				}
			}
		}
	}
}

.header-active {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
	width: 100%;
	z-index: 50;
}

@media (max-width: 1024px) {
	.header {
		&__burger {
			display: block;
		}

		&__navbar {
			display: none;
			position: absolute;
			width: 100%;
			height: 100vh;
			left: 0;
			@include adaptiv-value("top", 55, 42, 0);
			z-index: 5;
			background-color: rgba(0, 0, 0, 0.85);
		}

		&__navbar ._active {
			display: block;
		}

		&__bottom {
			li {
				font-size: 25px;
				margin: 20px 20px;
			}
		}

		&__top {
			padding: 5px 20px;
		}

		ul {
			flex-direction: column;
		}

		a {
			// color: #de9447;
		}
	}

	.header__burger._active ~ .header__navbar {
		display: block;
		overflow: auto;
	}
}

.actions {
	position: relative;

	span {
		color: #000;
	}

	p {
		position: absolute;
		left: -127px;
		background: #efc17d;
		white-space: nowrap;
		z-index: 55;
		border-radius: 15px;
		padding: 7px 10px;
		border: 1px solid #db4a4a;
		top: 85px;
		opacity: 0;
		display: none;

		&._active {
			transform: translateY(-100%);
			transition: 0.5s;
			opacity: 1;
		}
	}

	&__basket-quantity {
		background-color: white;
		border-radius: 50%;
		padding: 1px 6px;
		position: absolute;
		left: -7px;
		bottom: 0;
		opacity: 0;
		transition: all 0.3s ease 0s;

		&._active {
			opacity: 1;
		}
	}
}

hr {
	width: 100%;
	height: 1px;
	background-color: gray;
	margin: 10px 0;
}

.basket {
	cursor: pointer;

	&__list {
		position: absolute;
		top: 55px;
		right: -2000px;
		background: #fff;
		border-radius: 0.5rem;
		-webkit-box-shadow: 0 0 15px #000;
		box-shadow: 0 0 15px #000;
		width: 450px;
		max-height: 80vh;
		padding: 0rem 1.5rem 1rem;
		color: #666;
		z-index: 50;
		overflow: auto;
		display: flex;
		flex-direction: column;

		&._active {
			right: 20px;
			-webkit-transition: 0.4s linear;
			transition: 0.4s linear;
		}

		a {
			padding: 10px 10px 10px;
			background-color: #de9447;
			border-radius: 5px;
			color: #fff;
			font-size: 22px;
			cursor: pointer;
			&._disabled {
				background-color: #aba095;
			}
		}
	}

	&__order-btn {
		position: sticky;
		top: 0px;
		background: white;
		padding: 30px 0 20px;
		text-align: center;
		-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0, 0, 0, 0);
		box-shadow: 0px 10px 6px -7px #000000, 0px 0px 15px 5px rgba(0, 0, 0, 0);
	}

	&__item {
		display: flex;
		justify-content: space-between;
	}

	&__item-img {
		width: 100px;
		height: 100px;
	}

	&__details {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: center;
	}

	&__cost {
		align-self: center;
		display: flex;
	}

	&__title {
		font-size: 30px;
		margin: 0 0 10px;
		color: #de9447;
	}

	&__price {
		font-size: 22px;
	}

	&__price-img {
		height: 20px;
	}
}

@media (max-width: 767.98px) {
	.basket {
		&__list {
			padding: 0 1rem 1rem;
			width: 280px;
			max-height: 50vh;
			&._active {
				right: 0px;
			}
	
			a {
				font-size: 16px;
			}
		}

		&__item-img {
			width: 60px;
			height: 60px;
		}

		&__title {
			font-size: 25px;
		}

		&__quantity {
			font-size: 18px;
			// padding: 0 15px 0 0;
		}

		&__price-img {
			padding: 0 0 0 15px;
			height: 16px;
		}

		&__price {
			font-size: 16px;
		}

		&__delete-btn {
			img {
				width: 16px;
			}
		}
	}
}
