.order {

  &._active {
    display: block;
  }

  display: none;
  flex: 1 1 auto;

  &__wrap {
    max-width: 1190px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #de9447;
    text-align: center;
    margin: 30px;
  }

  &__btn {
    padding: 10px 20px 8px;
    background-color: #de9447;
    border-radius: 5px;
    color: #fff;
    margin: auto;
  }

  input {
    -webkit-appearance: none;
    outline: none;
    border: 1px solid;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  &__contact {
    display: flex;
    gap: 10px;
  }

  textarea {
    border: 1px solid;
  }
}

.col-1 {

  input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: #4f4f4f;
    border-radius: 15px;
    border: 1px solid rgba(79, 79, 79, .5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__order-type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__delivery-del {
    width: 42px;
    height: 42px;
    mask-image: url('../img/icons/delivery.svg');
    background-color: #666;
  }

  &__delivery-toGo {
    width: 42px;
    height: 42px;
    mask-image: url('../img/icons/toGo.svg');
    background-color: #666;
  }

  &__delivery-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 31px;
    padding: 5px 20px;
    width: 47%;
    margin: 0 0 10px;

    button {
      color: #666;
    }

    &:hover {
      .col-1__delivery-toGo {
        background-color: #de9447;
      }

      .col-1__delivery-del {
        background-color: #de9447;
      }

      button {
        color: #de9447;
      }

      border: 1px solid #de9447;
    }

  }
}

.checkout-form {
  padding: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 30px;

  h3 {
    font-size: 18px;
    color: #222;
    padding: 0 0 30px 5px;
    font-weight: 600;
  }

  &__contact-block {
    padding: 0 0 20px 0;
  }

  &__contact-inputs-cont {
    display: flex;
    gap: 15px;
  }
}