.checkout-form {
  height: 100%;
  width: 100%;
  padding: 20px 20px 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  background-color: #fff;
  border-radius: 25px
}

.checkout-form,
.checkout-form__contact-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.checkout-form__contact-block {
  padding: 20px 0
}

.checkout-form__contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template: 50px / repeat(3, 1fr);
  grid-gap: 10px
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .checkout-form__contact-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}

.checkout-form__address-block {
  padding: 20px 0
}

.checkout-form__address-block,
.checkout-form__address-list-form,
.checkout-form__user-addresses-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.checkout-form__user-addresses-list {
  padding: 30px 0 10px
}

.checkout-form__user-addresses-content-block {
  display: -ms-grid;
  display: grid;
  grid-template: 60px / repeat(3, 1fr);
  grid-template-areas: "comment comment ."
}

@media (max-width:599px) {
  .checkout-form__user-addresses-content-block {
    grid-template: 60px / repeat(2, 1fr)
  }
}

.checkout-form__user-other-address {
  font-size: 16px;
  text-decoration: underline;
  color: #e31837;
  padding: 10px 0 40px;
  cursor: pointer
}

.checkout-form__add-address-block {
  border: 1px solid rgba(0, 0, 0, .08);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .2);
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);
  border-radius: 25px;
  margin: 0 -20px 20px;
  position: relative;
  padding: 20px 20px 40px
}

.checkout-form__add-address-footer {
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px
}

.checkout-form__add-address-footer button {
  height: 50px;
  width: 234px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border: none;
  border-radius: 15px;
  background: #e31837;
  margin-top: 10px
}

.checkout-form__add-address-footer button:focus {
  border: 1px solid #00bcd4
}

.checkout-form__add-address-footer button:active {
  border: 1px solid #e31837
}

.checkout-form__add-address-footer button:hover {
  background: #bf142e
}

.checkout-form__add-address-footer button:disabled {
  background: #4f4f4f
}

@media (max-width:599px) {
  .checkout-form__add-address-footer button {
    width: 50%
  }
}

.checkout-form__add-address-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .08);
  background: #f8f8f8;
  cursor: pointer
}

.checkout-form__add-address-close:hover svg>path {
  fill: #e31837
}

.checkout-form__address-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template: repeat(4, 50px)/repeat(3, 1fr);
  grid-gap: 20px 10px;
  grid-template-areas: "city street street""b c d""e f g""comment comment k"
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .checkout-form__address-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.checkout-form__city {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  grid-area: city;
  height: 30px;
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600
}

.checkout-form__city,
.checkout-form__store-grid>.checkout-form__city {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .checkout-form__city {
    width: 30%
  }
}

.checkout-form__city span {
  padding-right: 15px
}

.checkout-form__city span svg path {
  fill: rgba(79, 79, 79, .5)
}

.checkout-form__input-street {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: street
}

.checkout-form__input-address-comment {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment
}

.checkout-form__address-form>.checkout-form__input-address-comment {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3
}

.checkout-form__store-grid>.checkout-form__input-address-comment {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3
}

.checkout-form__comment-grid>.checkout-form__input-address-comment {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .checkout-form__input-address-comment {
    width: 60% !important
  }
}

.checkout-form__input-address-comment textarea {
  height: 60px
}

.checkout-form__input-address-comment .checkout-form-grid__error-message,
.checkout-form__input-address-comment .checkout-form-grid__info-message {
  top: 60px
}

.checkout-form__store-block {
  padding-bottom: 20px
}

.checkout-form__store-grid {
  padding-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template: repeat(3, 50px)/repeat(3, 1fr);
  grid-template-areas: "city . .""store store .""comment comment .";
  grid-gap: 10px
}

@media (max-width:599px) {
  .checkout-form__store-grid {
    -ms-grid-columns: 1fr;
    grid-template: repeat(3, 60px)/1fr;
    grid-template-areas: "city""store""comment"
  }

  .checkout-form__store-grid>.checkout-form__city {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  .checkout-form__store-grid>.checkout-form__input-address-comment {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }
}

.checkout-form__input-store {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: store
}

@media (max-width:599px) {
  .checkout-form__input-store {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }
}

.checkout-form__comment-grid {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(1, 60px)/repeat(3, 1fr);
  grid-template-areas: "comment comment ."
}

@media (max-width:599px) {
  .checkout-form__comment-grid {
    -ms-grid-columns: 1fr;
    grid-template: 60px/1fr;
    grid-template-areas: "comment"
  }

  .checkout-form__comment-grid>.checkout-form__input-address-comment {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }
}

.checkout-form__delivery-time-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 20px
}

.checkout-form__date-time-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  -ms-grid-columns: minmax(60px, 1fr) 10px minmax(60px, 1fr) 10px minmax(60px, 1fr);
  grid-template-columns: repeat(3, minmax(60px, 1fr))
}

@media (max-width:599px) {
  .checkout-form__date-time-grid {
    -ms-grid-columns: minmax(60px, 1fr) 10px minmax(60px, 1fr);
    grid-template-columns: repeat(2, minmax(60px, 1fr))
  }
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .checkout-form__date-time-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}

.checkout-form .react-select-container {
  border-radius: 15px;
  height: 30px;
  font-family: Open Sans, sans-serif;
  font-size: 16px
}

.checkout-form-grid__cell {
  position: relative
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
  .checkout-form-grid__cell {
    width: 30%;
    padding: 0 10px
  }
}

.checkout-form-grid__error-message {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  top: 30px
}

@media (max-width:599px) {
  .checkout-form-grid__error-message {
    top: 40px
  }
}

.checkout-form-grid__error-message p {
  color: #e31837;
  text-align: right;
  font-size: 14px;
  padding: 0 10px;
  max-width: 230px
}

.checkout-form-grid__info-message {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  top: 30px
}

@media (max-width:599px) {
  .checkout-form-grid__info-message {
    top: 40px
  }
}

.checkout-form-grid__info-message p {
  color: #4f4f4f;
  text-align: right;
  font-size: 14px;
  padding: 0 10px;
  max-width: 230px
}

@media (max-width:599px) {
  .checkout-form__contact-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-rows: 60px 10px auto 10px auto;
    -ms-grid-columns: 100%;
    grid-template: 60px auto auto/100%
  }

  .checkout-form__address-form {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template: repeat(5, 60px)/repeat(2, 1fr);
    grid-template-areas: "city city""street street""d e""f g""x y""comment comment"
  }

  .checkout-form__city {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }

  .checkout-form__input-street {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }

  .checkout-form__address-form>.checkout-form__input-address-comment {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3
  }
}