.stocks {
  margin: 50px auto;

  &__container {
    padding: 0 50px;
  }

  &__item {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 0;

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }

  &__img-container {
    width: 350px;
    margin: 20px;
    border: 10px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }


  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #de9447;
    margin: 30px 0;
  }

  &__text {
    color: #666;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #de9447;
    text-align: center;
    margin: 30px;
  }

  hr {
    height: 1px;
    width: 100%;
    background: #666;
  }
}
